<footer>
  <section id="footer">
    <div class="first-line">
      <a class="me-link" href="#">
        Akan<span class="i">s</span>h<span class="l">u</span>
      </a>
      <span class="copyright">&copy; Akanshu soni 2024</span>

      <div class="social-media-container">
        <a href="https://github.com/Akanshu17258" target="_blank">
          <img
            class="socialIcon gitHubIcon"
            src="assets/img/icons/gitHubIcon.svg"
            alt="Github Icon"
        /></a>
  
        <a  href="mailto:akanshusoni.ait@gmail.com">
          <img
            class="socialIcon emailIcon."
            src="assets/img/icons/emailIcon.svg"
            alt="Email Icon"
          />
        </a>
        <a href="https://www.linkedin.com/in/akanshu-soni/" target="_blank">
          <img src="assets/img/icons/linkedInIcon.svg" class="socialIcon" alt="Description of the image">
      </a>
      </div>
    </div>
    
  </section>
</footer>
