<section id="about-me" #aboutMe>
  <img id="shape2" src="assets/img/shape2.svg" />
  <div id="about-me-container">
    <div
      data-aos="slide-right"
      data-aos-delay="225"
      data-aos-duration="4000"
      id="about-me-text-container"
    >
      <h2 data-aos="slide-right" data-aos-duration="4000" data-aos-delay="225">
        About me
      </h2>
      
      <p class="text-english">
        I am a Frontend Developer currently working with Accenture. On my
        portfolio page, I showcase my previous projects and share my journey as
        a web developer. Welcome to my site! I am glad to give you insight into
        my work.
      </p>
      <div class="text-container">
        <img src="assets/img/light.svg" alt="glow plug icon" />
        
        <p>
          I'm really passionate about programming, especially when it comes to
          solving tough problems. I see every coding task as a chance to
          challenge myself and get better and improve my skills.
        </p>
      </div>
      <div class="text-container">
        <img src="assets/img/puzzle.svg" alt="puzzle icon" />
        <p>
          A big goal for me is to join interesting projects actively. Working
          with teams who share my love for creative solutions is really
          important to me. It's not just about getting better at what I do, but
          also about finding new and creative ways to solve problems. Overall, I
          want to keep growing and eventually become a full-stack developer in
          the future.
        </p>
      </div>
    </div>
    <div
      data-aos="slide-left"
      data-aos-duration="4000"
      id="circle-pic-container"
    >
      <div class="green-circle">
        <img src="assets/img/profile-pic.png" />
      </div>
      <div id="about-me-line"></div>
    </div>
  </div>
</section>
